.title {
  position: relative;
  line-height: 56px;
  font-weight: 500;
}
.subtitle {
  margin: 0;
  line-break: anywhere;
  width: 100%;
}
.containerSubtitle {
  position: relative;
  font-size: var(--title-bold-bold-small-size);
  line-height: 20px;
  font-weight: 300;
  color: var(--typography-color-body);
  text-align: center;
  display: flex;
  align-items: flex-end;
  /* width: 676px; */
}
.containerTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-21xl) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--headline-medium-medium-small-size);
  color: var(--typography-color-default);
  font-family: var(--headline-medium-medium-moderate);
}
